.sidebar-container {
    /* set the maximum width of the container */
    max-width: 30rem;
    /* enable vertical scrolling for the container */
    overflow-x: hidden;
}

.recently-played {
    list-style-type: none;
    padding: 0;
}

.recently-played li {
    margin-bottom: 0.5rem;
}

.recently-played a {
    color: var(--primary-color);
}

.recently-played a:hover {
    text-decoration: underline;
}


.recently-played-wrapper {
    max-width: 100%;
    height: 45rem;
    padding: 0rem 1rem 1rem 1rem;
    overflow-x: hidden;
    -webkit-mask-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 2.5%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0.8) 68%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
    -ms-mask-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 2.5%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0.8) 68%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
    mask-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 2.5%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0.8) 68%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
    -webkit-mask-size: 100% 100%;
    -ms-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}



.recently-played-cards {
    /* set the maximum width of the cards */
    max-width: 100%;
    padding-bottom: 46rem;

}

.recently-played-wrapper::-webkit-scrollbar {
    width: 1px;
}

.recently-played-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.recently-played-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Hide the scrollbar track */
.recently-played-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}