.song-card {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1.5rem 0rem 1.5rem 0rem;
    border-radius: 10px;
    box-shadow: 0 6px 12px var(--primary-box-shadow);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 4.5rem;
}

.song-card:hover .library-indicator::before {
    opacity: 1;
}

.song-card-details {
    flex-grow: 1;
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-style: normal;
    height: 80px;
    /* Add a fixed height */
}


.song-card-details h3 {
    margin: 0;
    font-size: 1.2rem;
}

.song-card:hover .in-library {
    opacity: 1;
}

.song-card:hover .not-in-library {
    opacity: 1;
}

.song-card:hover {
    transform: translateY(-5px);
    background-color: var(--off-primary-color);
    box-shadow: 0 0px 30px var(--white);
    color: var(--white);
}

.song-card-details {
    flex-grow: 1;
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-style: normal;
    width: 4rem;
}

.song-card-details h3 {
    margin-top: 1.4rem;
    font-size: 1rem;
    color: var(--primary-color);
    white-space: nowrap;
    /* Prevent line breaks */
    overflow: hidden;
    /* Hide overflowed text */
    text-overflow: ellipsis;
    /* Show ellipses instead of overflowed text */
}

.song-card:hover * {
    color: var(--white);
}

.song-card-details p {
    margin: 0;
    font-size: 1rem;
}

.song-image {
    width: 60px;
    border-radius: 6%;
}


.gene {
    position: absolute;
    bottom: -1.73rem;
    right: 0px;
    background-color: var(--off-primary-color);
    color: var(--off-white);
    font-size: 0.8rem !important;
    padding: 0.5rem 0.25rem;
    border-radius: 0 0.3rem 0 10px;
    font-style: normal;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: translateY(-50%);
    height: 4.5rem;
    /* Add a fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
}



.library-indicator {
    position: relative;
    color: var(--primary-color);
}

.library-indicator::before {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0.5rem;
    /* background-color: var(--primary-color); */
    border-radius: 5px;
    font-size: 14px;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.in-library {
    margin-top: 1.1rem;
}

.not-in-library {
    margin-top: 1.1rem;
}