/* General styles */


/* :root {
    --primary-color: #121212;
    --off-primary-color: #d39393;
    --white: #ffffff;
    --off-white: #ffffff;
    --primary-box-shadow: rgba(0, 0, 0, 0.4);
    --middle-box-shadow: rgba(129, 129, 129, 1);
    --opposing-box-shadow: rgba(187, 187, 187, 0.1);
    --font-family: 'Oswald', sans-serif;
} */


/* ALTERNATE SCHEME */
:root {
    --primary-color: #990000;
    --off-primary-color: #00CA65;
    --white: #ffffff;
    --off-white: #ffffff;
    --primary-box-shadow: rgba(153, 0, 0, 0.4);
    --opposing-box-shadow: rgba(255, 255, 255, 0.1);
    --font-family: 'Roboto', sans-serif;
}

/* DARK MODE */
/* :root {
    --primary-color: #E5E5E5;
    --off-primary-color: #121212;
    --white: #121212;
    --off-white: #E5E5E5;
    --primary-box-shadow: rgba(255, 255, 255, 0.4);
    --opposing-box-shadow: rgba(18, 18, 18, 0.1);
    --font-family: 'Montserrat', sans-serif;
} */






html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--primary-color);
    background-color: var(--white);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}


/* Headings */
h1,
h2,
h3 {
    font-weight: bold;
    color: var(--primary-color);
}

h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    /* Remove the top margin */
    text-align: center;
    padding: 1rem;
    padding-top: 2.15rem;
    padding-bottom: 0;
    /* Add some padding to make the text look better */
    color: var(--primary-color);

}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/* Text styles */

p,
em {
    line-height: 1.5;
    color: var(--primary-color);
}

ul,
ol {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 0.5rem;
}

/* Forms */

input[type="text"],
textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    resize: none;
    background-color: var(--off-white);
    color: var(--primary-color);
}

input[type="submit"] {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--white);
    color: var(--off-white);
    text-align: center;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--primary-color);
}

/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th,
td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid var(--primary-color);
}

th {
    font-weight: bold;
    background-color: var(--white);
    color: var(--off-white);
}

td {
    font-style: italic;
    color: var(--primary-color);
}

tr:hover {
    background-color: var(--primary-color);
}

/* Containers */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--off-white);
    color: var(--primary-color);
}

.category-explanations {
    margin-top: 10px;
    color: var(--primary-color);
    line-height: 0.8rem;
    width: 25rem;
}

.sidebar-container {
    flex: 1;
    flex-basis: 30%;
    min-width: 25rem;
    max-width: 50rem;
    margin-bottom: 1.5rem;
}

.sidebar-container h2 {
    margin-bottom: -1rem;
}

/* Buttons */
.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--white);
    color: var(--off-white);
    text-align: center;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: var(--off-white);
    cursor: pointer;
}

/* Footer */
.footer {
    background-color: #152A3F;
    color: var(--primary-color);
    text-align: center;
    padding: 1rem;
}

/* Media queries */

@media (max-width: 768px) {
    .chart-wrapper {
        margin-right: 0;
    }


    .container {
        max-width: 100%;
        padding: 0.5rem;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    h3 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid var(--primary-color);
        border-radius: 0.25rem;
        margin-bottom: 1rem;
        resize: none;
        background-color: #1D1D1D;
        color: var(--primary-color);
    }

    css .button {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }

}