/* General styles */

:root {
    --primary-color: rgba(19, 69, 69, 1);
    --secondary-color: #144646;
    --light-color: rgba(229, 229, 229, 1);
    --dark-color: rgba(51, 51, 51, 1);
    --font-family: 'Oswald', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--dark-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}

.neumorphic-title {
    display: inline-block;
    background-color: white;
    color: var(--primary-color);
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    /* Adjust the box-shadow values as needed to achieve the desired effect */
}





/* Headings */
h1,
h2,
h3 {
    font-weight: bold;
    color: var(--primary-color);
}

h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    /* Remove the top margin */
    text-align: center;
    padding: 1rem;
    padding-top: 2.15rem;
    padding-bottom: 0;
    /* Add some padding to make the text look better */
    color: var(--dark-color);
    /* Change the text color to white for better contrast */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1),
        -5px -5px 15px rgba(255, 255, 255, 0.5);
}



h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/* Text styles */

p,
em {
    margin-bottom: 1rem;
    line-height: 1.5;
}

ul,
ol {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 0.5rem;
}

/* Forms */

input[type="text"],
textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--light-color);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    resize: none;
}

input[type="submit"] {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darken(var(--secondary-color), 10%);
}

/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th,
td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid var(--light-color);
}

th {
    font-weight: bold;
    background-color: var(--secondary-color);
    color: white;
}

td {
    font-style: italic;
}

tr:hover {
    background-color: var(--light-color);
}


/* Containers */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.category-explanations {
    margin-top: 10px;
    color: #777;
    line-height: 0.8rem;
    width: 25rem;
}


.sidebar-container {
    flex: 1;
    flex-basis: 30%;
    min-width: 25rem;
    max-width: 50rem;
    margin-bottom: 1.5rem;
}

.sidebar-container h2 {
    margin-bottom: -1rem;
}

/* Buttons */
.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: darken(var(--secondary-color), 10%);
    cursor: pointer;
}






/* Footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}



/* Media queries */

@media (max-width: 768px) {
    .chart-wrapper {
        margin-right: 0;
    }

    .container {
        max-width: 100%;
        padding: 0.5rem;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    h3 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid var(--light-color);
        border-radius: 0.25rem;
        margin-bottom: 1rem;
        resize: none;
    }

    .button {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }
}