<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Genetics - About</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>About Spotify Genetics</h1>
    {% include 'navbar.html' %}
    <div class="container">

        <p>Spotify Genetics is a web application that allows users to discover their music preferences and explore their
            favorite genres based on their Spotify listening history. By analyzing audio features such as energy, mood,
            tempo, and instrumentation, the application categorizes a user's top tracks and assigns a four-letter
            preference code to each track that represents the user's preference in terms of the four features.</p>

        <p>Users can then explore their music preferences by genre and see their top tracks categorized by preference.
            The application also provides charts that visualize the user's preference distribution and recent tracks
            played.</p>

        <h2>Meet the Team</h2>

        <ul>
            <li><strong>Dylan Shade</strong> - CEO</li>
            <!-- Add more team members as needed -->
        </ul>

        <!-- <h3>Get in Touch</h3>

        <p>Feel free to contact us with any questions, feedback, or partnership inquiries:</p>

        <form action="#" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="5" required></textarea>

            <input type="submit" class="button" value="Send Message">
        </form> -->
    </div>
</body>

</html>