<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Genetics</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ url_for('favicon') }}">
</head>

<body>
    {% include 'navbar.html' %}
    <h1>Your Spotify Genetics</h1>
    <div class="chart-container">
        <div class="chart-wrapper">
            <canvas id="myChart"></canvas>
            <script src="{{ url_for('static', filename='main.js') }}"></script>
        </div>
        <div class="sidebar-container">
            <h2>Recently Played:</h2>
            <div class="recently-played-wrapper">
                <div class="recently-played-cards">
                    {% for song in recentlyPlayedSongs %}
                    <a href="{{ song.url }}" target="_blank" class="song-card">
                        <img src="{{ song.image_url }}" alt="{{ song.name }} image" class="song-image">
                        <div class="song-card-details">
                            <h3>{{ song.name }}</h3>
                            <p>{{ song.artist }}</p>
                            <p>{{ song.gene }}</p>
                        </div>
                    </a>
                    {% endfor %}

                </div>
            </div>
            <div class="category-explanations">
                <h2>Category Explanations:</h2>
                <ul>
                    <li><strong>Energy:</strong> High (H) / Low (L)</li>
                    <li><strong>Mood:</strong> Positive (P) / Negative (N)</li>
                    <li><strong>Tempo:</strong> Fast (F) / Slow (S)</li>
                    <li><strong>Instrumentation:</strong> Electronic (E) / Acoustic (A)</li>
                </ul>
            </div>
        </div>

    </div>
</body>

</html>