<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Genetics</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ url_for('favicon') }}">
</head>

<body>
    <div id="loading-screen">
        <div class="spinner"></div>
    </div>
    <h1>Your Spotify Genetics</h1>
    {% include 'navbar.html' %}
    <div class="chart-container">
        <div class="chart-wrapper">
            <!-- <p>{{ gptSummary }}</p> -->
            <canvas id="myChart"></canvas>

            <div class="bottom-chart">
                <div class="category-explanations" style="margin-top: 2rem;">
                    <p>Click a bar to view more information about each gene</p>

                    <h2>Category Explanations:</h2>
                    <ul>
                        <li><strong>Energy:</strong> High (H) / Low (L)</li>
                        <li><strong>Mood:</strong> Positive (P) / Negative (N)</li>
                        <li><strong>Tempo:</strong> Fast (F) / Slow (S)</li>
                        <li><strong>Instrumentation:</strong> Electronic (E) / Acoustic (A)</li>
                    </ul>
                </div>
                <form id="chart-form">
                    <div class="radio-group">
                        <label class="radio">
                            <input id="top-tracks-form-true" type="radio" name="top_tracks" value="True" {% if
                                session["top_tracks"] %}checked{% endif %}>
                            <span>View Top Tracks</span>
                        </label>
                        <label class="radio">
                            <input id="top-tracks-form-false" type="radio" name="top_tracks" value="False" {% if not
                                session["top_tracks"] %}checked{% endif %}>
                            <span>View Recent Tracks</span>
                        </label>
                    </div>
                    <button type="submit" class="custom-submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="sidebar-container">
            <div class="category-explanations" style="margin-top: 2rem;">

            </div>

            <h2>Top Songs:</h2>
            <div class="recently-played-wrapper fade-in">
                <div class="recently-played-cards">
                    {% for song in sidebarCards %}
                    <a href="{{ song.url }}" target="_blank" class="song-card fade-in">
                        <img src="{{ song.image_url }}" alt="{{ song.name }} image" class="song-image">
                        <div class="song-card-details">
                            <h3>{{ song.name }}</h3>
                            <p>{{ song.artist }}</p>
                            <p>{{ song.gene }}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <script type="text/javascript">
        window.addEventListener('scroll', function () {
            var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            var windowHeight = window.innerHeight;
            var elements = document.querySelectorAll('.fade-in');
            var distances = [];

            elements.forEach(function (element) {
                var distance = element.offsetTop;
                distances.push(distance);
            });

            distances.forEach(function (distance, index) {
                if (distance < scrollTop + windowHeight) {
                    elements[index].classList.add('is-visible');
                }
            });
        });
    </script>
</body>

</html>