<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ genre }} - Songs and Artists</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div>
        <h1 style="text-align: left;padding-left: 25rem;">Current Genre Gene: {{ genre }}</h1>
        {% include 'navbar.html' %}

    </div>
    <div style="display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    height: 100vh;">
        <div style="width: 40vw;">
            <h2 style="margin-bottom: 0.5rem; ">Songs and Artists</h2>
            {% if genre %}
            <p style="text-align: left; padding: 0.5rem;"><em>
                    {% for letter in genre %}
                    {% if letter in acronym_explanations %}
                    {{ acronym_explanations[letter] }}
                    {% if not loop.last %},
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </em></p>
            {% endif %}
            <div style="display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            grid-gap: 20px;">
                {% for song in songs %}
                <div class="album-card">
                    <a href="{{ song.trackLink }}" target="_blank">
                        <img src="{{ song.albumCoverURL }}" alt="{{ song.trackName }} album cover" class="album-image">
                    </a>
                </div>
                <div class="album-card-details">
                    <a href="{{song.trackLink }}" target="_blank">
                        <h3>{{ song.trackName }}</h3>
                    </a>
                    <a href=" {{ song.artistLink }}" target="_blank">
                        <p>{{ song.artists }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class=" sidebar-container">
            <h2>New Recommendations</h2>
            <p style="font-style: italic;">Recommendations made based on the songs on the left</p>
            <div class="recently-played-wrapper" id="recommendations-container">
                <div class="recently-played-cards" id="recently-played-cards">
                    {% for recommendation in recommendations %}
                    <a href="{{ recommendation['external_urls']['spotify'] }}" target="_blank" class="song-card">
                        <img src="{{ recommendation['album']['images'][0]['url'] }}"
                            alt="{{ recommendation['name'] }} image" class="song-image">

                        <div class="song-card-details">
                            <h3>{{ recommendation['name'] }}</h3>
                            <p>{{ recommendation['artists'][0]['name'] }}</p>

                        </div>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const options = {
            root: null,
            rootMargin: '0px',
            threshold: 0.3
        };

        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.intersectionRatio < 0.3) return;
                entry.target.classList.add('fade-in');
            });
        }, options);

        const cards = document.querySelectorAll('.song-card');
        cards.forEach(card => {
            observer.observe(card);
        });
    </script>

</body>

</html>