<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>
    {% with title = 'Current Genre Gene: ' ~ genre %}
    {% include 'navbar.html' %}
    {% endwith %}
    <div class="recently-played-album-container">
        <div style="width: 40vw; padding-bottom: 2rem;">
            <h2 style="margin-bottom: 0.5rem; color: var(--primary-color);">{{ genre }} Songs and Artists</h2>
            {% if musicTasteSummary %}
            <p style="text-align: left; padding: 0.5rem; color: var(--primary-color);"><em>{{ musicTasteSummary }}</em>
            </p>
            {% endif %}
            <div class="grid-container">
                {% for song in songs %}
                <div class="album-card">
                    <a href="{{ song.spotifyURL }}" target="_blank">
                        <img src="{{ song.albumCoverURL }}" alt="{{ song.trackName }} album cover" class="album-image">
                    </a>
                    <div class="album-card-details">
                        <a href="{{song.spotifyURL }}" target="_blank" style="color: var(--primary-color);">
                            <h3>{{ song.trackName }}</h3>
                        </a>
                        <a href=" {{ song.artistLinks[0] }}" target="_blank" style="color: var(--primary-color);">
                            <p>{{ song.artistNames[0] }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class=" sidebar-container">
            <h2 style="color: var(--primary-color);">New Recommendations</h2>
            <p style="font-style: italic; color: var(--primary-color);">Recommendations made based on the songs on the
                left</p>
            <div class="recently-played-wrapper" id="recommendations-container">
                <div class="recently-played-cards" id="recently-played-cards">
                    {% for index, row in recommendations.iterrows() %}
                    <a href="{{ row['spotifyURL'] }}" target="_blank" class="song-card">
                        <img src="{{ row['albumCoverURL'] }}" alt="{{ row['trackName'] }} image" class="song-image">
                        <div class="song-card-details">
                            <h3>{{ row['trackName'] }}</h3>
                            <p>
                                {% for artist in row['artistNames']%}
                                <span>{{ artist }}</span>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <p class="gene">{{ row['gene'] }}</p>
                            {% if row['inlibrary'] %}
                            <i class="fas fa-times-circle in-library-indicator library-indicator in-library"
                                title=" This song is not in your library"></i>
                            {% else %}
                            <i class="fas fa-times-circle not-in-library-indicator library-indicator not-in-library"
                                title="This song is not in your library"></i>
                            {% endif %}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script>
        const options = {
            root: null,
            rootMargin: '0px',
            threshold: 0.3
        };
    
        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.intersectionRatio < 0.3) return;
                entry.target.classList.add('fade-in');
            });
        }, options);
    
        const cards = document.querySelectorAll('.song-card');
        cards.forEach(card => {
            observer.observe(card);
        });
    </script> -->

</body>

</html>