/* General styles */

:root {
    --primary-color: rgba(19, 69, 69, 1);
    --secondary-color: rgba(33, 126, 126, 1);
    --light-color: rgba(229, 229, 229, 1);
    --dark-color: rgba(51, 51, 51, 1);
    --font-family: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--dark-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}

/* Container */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}


.chart-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.chart-wrapper {
    flex: 1;
    flex-basis: 70%;
    max-width: 900px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1.5rem;
}

.category-explanations {
    margin-top: 10px;
    /* Add some spacing between the category explanations and the recently played section */
}


.sidebar-container {
    flex: 1;
    flex-basis: 30%;
    min-width: 300px;
    max-width: 400px;
    margin-bottom: 1.5rem;
}

.recently-played {
    list-style-type: none;
    padding: 0;
}

.recently-played li {
    margin-bottom: 0.5rem;
}

.recently-played a {
    color: var(--primary-color);
}

.recently-played a:hover {
    text-decoration: underline;
}

.category-explanations {
    color: #777;
}

/* Neomorphic Song Cards */
.song-card {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;

    height: 4rem;
    /* Increase the height of the card */
}

.album-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-card img {
    max-width: 100%;
}

.album-card-details p {
    margin: 0;
    color: #666;
}

.album-image {
    width: 20rem;
}

.song-card-details {
    text-align: center;
}

.song-card-details h3 {
    margin: 0;
    font-size: 1.2rem;
}


.song-card:hover {
    transform: translateY(5px);
    /* Add a slight lift effect on hover */
    background-color: rgba(0, 0, 0, 0.05);

    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    /* Increase the shadow size on hover */
}

.song-card-details {
    flex-grow: 1;
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-style: italic;
}

.song-card-details h3 {
    margin: 0;
    font-size: 1rem;
}

.song-card-details p {
    margin: 0;
    font-size: 1rem;
    /* Increase the font size of the artist and preference */
}

.song-image {
    width: 60px;
    border-radius: 6%;
}



/* End of Neomorphic Song Cards */

/* Style the scroll bar */

.sidebar-container {
    /* set the maximum width of the container */
    max-width: 30rem;
    /* enable vertical scrolling for the container */
    overflow-x: hidden;
}

.recently-played-wrapper {
    /* set the maximum width of the wrapper */
    max-width: 100%;
    height: 40rem;
    padding-right: 1rem;
    padding-left: 1rem;

    /* enable horizontal scrolling for the wrapper */
    overflow-x: hidden;
}

.recently-played-cards {
    /* set the maximum width of the cards */
    max-width: 100%;

}

.recently-played-wrapper::-webkit-scrollbar {
    width: 8px;
}

.recently-played-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.recently-played-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Hide the scrollbar track */
.recently-played-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}



/* Define the fade-in class */

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


.fade-in.is-visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Headings */

h1,
h2,
h3 {
    font-weight: bold;
    color: var(--primary-color);
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/* Text styles */

p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

ul,
ol {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 0.5rem;
}

/* Buttons */

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: darken(var(--secondary-color), 10%);
    cursor: pointer;
}

/* Forms */

input[type="text"],
textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--light-color);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    resize: none;
}

input[type="submit"] {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darken(var(--secondary-color), 10%);
}

/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th,
td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid var(--light-color);
}

th {
    font-weight: bold;
    background-color: var(--secondary-color);
    color: white;
}

td {
    font-style: italic;
}

tr:hover {
    background-color: var(--light-color);
}

.song-row {
    cursor: pointer;
}

.song-row:hover {
    background-color: #f2f2f2;
}




/* Navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 0.5rem;
}

.navbar-item {
    font-weight: 350;
    color: white;
    text-decoration: none;
    margin: 0 1rem
}

.navbar-spacer {
    color: white;
}

/* Footer */

.footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}



/* Media queries */

@media (max-width: 768px) {
    .chart-wrapper {
        margin-right: 0;
    }

    .container {
        max-width: 100%;
        padding: 0.5rem;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    h3 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid var(--light-color);
        border-radius: 0.25rem;
        margin-bottom: 1rem;
        resize: none;
    }

    .button {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .navbar-item,
    .navbar-spacer {
        margin: 0.5rem 0;
    }
}