/* General styles */

:root {
    --primary-color: rgba(19, 69, 69, 1);
    --secondary-color: #144646;
    --light-color: rgba(229, 229, 229, 1);
    --dark-color: rgba(51, 51, 51, 1);
    --font-family: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--dark-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}

/* Container */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}


.chart-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    /* margin-bottom: 1.5rem; */
    margin-top: 2rem;
}

.chart-wrapper {
    flex: 1;
    flex-basis: 70%;
    max-width: 900px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1.5rem;
}

.chart-wrapper p {
    font-size: 1rem;
    font-style: italic;
    color: #333;
    margin-bottom: 1rem;
}

.category-explanations {
    margin-top: 10px;
    /* Add some spacing between the category explanations and the recently played section */
    line-height: 0.8rem;
    width: 25rem;
}


.sidebar-container {
    flex: 1;
    flex-basis: 30%;
    min-width: 25rem;
    max-width: 50rem;
    margin-bottom: 1.5rem;
}

.sidebar-container h2 {
    margin-bottom: -1rem;
}

.recently-played {
    list-style-type: none;
    padding: 0;
}

.recently-played li {
    margin-bottom: 0.5rem;
}

.recently-played a {
    color: var(--primary-color);
}

.recently-played a:hover {
    text-decoration: underline;
}

.category-explanations {
    color: #777;
}

/* Update the grid-template-columns property */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 3rem;
    padding: 2rem;
    border-width: 1px;
}

/* Update the width of the album image */
.album-image {
    width: 10rem;
}

/* Loading  */
/* Add these rules to your styles.css file */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Custom radio buttons */
.custom-radio {
    position: relative;
    display: inline-block;
    margin-right: 1.25rem;
    width: 1rem;
    height: 1rem;
}

.custom-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-radio span {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    border: 1px solid #aaa;
    border-radius: 50%;
}

.custom-radio input[type="radio"]:checked~span {
    border-color: #2196F3;
    background-color: #2196F3;
}

/* Additional styles for the labels */
.custom-radio label {
    font-size: 1rem;
    cursor: pointer;
    padding-left: 1.75rem;
}

.custom-radio label:first-child {
    padding-right: 1.25rem;
}


/* Custom submit button */
.custom-submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.custom-submit:hover {
    background-color: #3e8e41;
}

.custom-submit:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/* Neomorphic Song Cards */
.song-card {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;

    height: 4rem;
    /* Increase the height of the card */
}

.album-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album-card img {
    border-radius: 2%;
    max-width: 100%;
}

.album-card-details h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    --min-font-size: 16px;
    --max-font-size: 20px;
    font-size: var(--min-font-size);
}

.album-card-details p {
    margin: 0;
    color: #666;
}

.album-image {
    width: 20rem;
}

.genre-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    height: 80vh;
    padding: 2rem;
    border-width: 1px;
}

.song-card-details {
    text-align: center;
}

.song-card-details h3 {
    margin: 0;
    font-size: 1.2rem;
}

.song-card:hover {
    transform: translateY(-5px);
    /* Add a slight lift effect on hover */
    background-color: rgba(0, 0, 0, 0.03);

    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    /* Increase the shadow size on hover */
}

.song-card-details {
    flex-grow: 1;
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-style: italic;
}

.song-card-details h3 {
    margin: 0;
    font-size: 1rem;
}

.song-card-details p {
    margin: 0;
    font-size: 1rem;
    /* Increase the font size of the artist and preference */
}

.song-image {
    width: 60px;
    border-radius: 6%;
}



/* End of Neomorphic Song Cards */

/* Style the scroll bar */

.sidebar-container {
    /* set the maximum width of the container */
    max-width: 30rem;
    /* enable vertical scrolling for the container */
    overflow-x: hidden;
}

.recently-played-wrapper {
    max-width: 100%;
    height: 35rem;
    padding: 1rem 1rem 1rem 1rem;
    overflow-x: hidden;
    mask-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 7%, rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0));
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    overflow: -moz-scrollbars-none;
    /* Firefox */
}


.recently-played-cards {
    /* set the maximum width of the cards */
    max-width: 100%;
    padding-bottom: 28rem;

}

.recently-played-wrapper::-webkit-scrollbar {
    width: 1px;
}

.recently-played-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.recently-played-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Hide the scrollbar track */
.recently-played-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}

.song-card-details h3,
.song-card-details p {
    margin: 2px;
    /* Adjust the value to add more or less spacing */
}

.song-card-details h3 {
    margin-top: 1.4rem;
}

/* Define the fade-in class */

/* .is-visible {
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in {
    opacity: 0;
    transform: translate(0, 100px);
} */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Headings */
h1,
h2,
h3 {
    font-weight: bold;
    color: var(--primary-color);
}

h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    /* Remove the top margin */
    text-align: center;
    background-color: var(--secondary-color);
    /* Add the same background color as the navbar */
    padding: 1rem;
    padding-top: 2.15rem;
    padding-bottom: 0;
    /* Add some padding to make the text look better */
    color: white;
    /* Change the text color to white for better contrast */
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/* Text styles */

p,
em {
    margin-bottom: 1rem;
    line-height: 1.5;
}

ul,
ol {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 0.5rem;
}

/* Buttons */

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: darken(var(--secondary-color), 10%);
    cursor: pointer;
}

/* Forms */

input[type="text"],
textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--light-color);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    resize: none;
}

input[type="submit"] {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darken(var(--secondary-color), 10%);
}

/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th,
td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid var(--light-color);
}

th {
    font-weight: bold;
    background-color: var(--secondary-color);
    color: white;
}

td {
    font-style: italic;
}

tr:hover {
    background-color: var(--light-color);
}

.song-row {
    cursor: pointer;
}

.song-row:hover {
    background-color: #f2f2f2;
}




/* Navbar */

.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 0.75rem;
    padding-top: 0.5rem;
    padding-left: 26rem;
}

.navbar-item {
    font-weight: 350;
    color: white;
    text-decoration: none;
    margin-bottom: 0 1rem
}

.navbar-spacer {
    color: white;
}

/* Footer */

.footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}



/* Media queries */

@media (max-width: 768px) {
    .chart-wrapper {
        margin-right: 0;
    }

    .container {
        max-width: 100%;
        padding: 0.5rem;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    h3 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid var(--light-color);
        border-radius: 0.25rem;
        margin-bottom: 1rem;
        resize: none;
    }

    .button {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .navbar-item,
    .navbar-spacer {
        margin: 0.5rem 0;
    }
}