/* General styles */

:root {
    --primary-color: rgba(19, 69, 69, 1);
    --secondary-color: rgba(33, 126, 126, 1);
    --light-color: rgba(229, 229, 229, 1);
    --dark-color: rgba(51, 51, 51, 1);
    --font-family: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--dark-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}

/* Container */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}


.chart-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.chart-wrapper {
    flex: 1;
    flex-basis: 70%;
    max-width: 900px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1.5rem;
}

.recently-played-wrapper {
    height: 200px;
    /* Adjust the height as needed */
    overflow-y: scroll;
    /* Add vertical scrolling */
    margin-bottom: 10px;
    /* Add some spacing between the recently played section and the category explanations */
}

.category-explanations {
    margin-top: 10px;
    /* Add some spacing between the category explanations and the recently played section */
}


.sidebar-container {
    flex: 1;
    flex-basis: 30%;
    min-width: 300px;
    max-width: 400px;
    margin-bottom: 1.5rem;
}

.recently-played {
    list-style-type: none;
    padding: 0;
}

.recently-played li {
    margin-bottom: 0.5rem;
}

.recently-played a {
    color: var(--primary-color);
}

.recently-played a:hover {
    text-decoration: underline;
}

.category-explanations {
    color: #777;
}

.song-card {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 5rem;
    /* Set the height of the card */
}

.song-card-image {
    flex-basis: 48px;
    /* Decrease the width of the image */
    flex-shrink: 0;
    margin-right: 8px;
    border-radius: 4px;
    object-fit: cover;
}

.song-card-details {
    flex-grow: 1;
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-style: italic;
}

.song-card-details h3 {
    /* margin: 1rem; */
    font-size: 14px;
    /* Decrease the font size of the song name */
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis;
}

.song-card-details p {
    margin: 0;
    font-size: 12px;
    /* Decrease the font size of the artist and preference */
}

/* Style the scroll bar */

.sidebar-container {
    /* set the maximum width of the container */
    max-width: 30rem;
    /* enable vertical scrolling for the container */
    overflow-x: hidden;
}

.recently-played-wrapper {
    /* set the maximum width of the wrapper */
    max-width: 100%;
    height: 20rem;

    /* enable horizontal scrolling for the wrapper */
    overflow-x: hidden;
}

.recently-played-cards {
    /* set the maximum width of the cards */
    max-width: 100%;
}

.recently-played-wrapper::-webkit-scrollbar {
    width: 8px;
}

.recently-played-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.recently-played-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Hide the scrollbar track */
.recently-played-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}

.song-card {
    display: flex;
    /* Use a flexbox layout */
    align-items: center;
    /* Center the items vertically */
    margin-bottom: 10px;
    /* Add some spacing between each card */
}

.song-card-image {
    flex-shrink: 0;
    /* Prevent the image from shrinking */
    margin-right: 10px;
    /* Add some spacing between the image and text */
}

.song-image {
    width: 60px;
    /* Adjust the width as needed */
    height: 60px;
    /* Adjust the height as needed */
    border-radius: 10%;
    /* Add rounding */
    object-fit: cover;
    /* Ensure the entire image is visible without stretching */
}


/* Headings */

h1,
h2,
h3 {
    font-weight: bold;
    color: var(--primary-color);
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/* Text styles */

p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

ul,
ol {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 0.5rem;
}

/* Buttons */

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: darken(var(--secondary-color), 10%);
    cursor: pointer;
}

/* Forms */

input[type="text"],
textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--light-color);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    resize: none;
}

input[type="submit"] {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darken(var(--secondary-color), 10%);
}

/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th,
td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid var(--light-color);
}

th {
    font-weight: bold;
    background-color: var(--secondary-color);
    color: white;
}

td {
    font-style: italic;
}

tr:hover {
    background-color: var(--light-color);
}

.song-row {
    cursor: pointer;
}

.song-row:hover {
    background-color: #f2f2f2;
}




/* Navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 0.5rem;
}

.navbar-item {
    font-weight: 350;
    color: white;
    text-decoration: none;
    margin: 0 1rem
}

.navbar-spacer {
    color: white;
}

/* Footer */

.footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}



/* Media queries */

@media (max-width: 768px) {
    .chart-wrapper {
        margin-right: 0;
    }

    .container {
        max-width: 100%;
        padding: 0.5rem;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    h3 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid var(--light-color);
        border-radius: 0.25rem;
        margin-bottom: 1rem;
        resize: none;
    }

    .button {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .navbar-item,
    .navbar-spacer {
        margin: 0.5rem 0;
    }
}